<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Chik fellas - Your Personal stylist</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Instyle Fashion HTML Template" />
    <meta name="keywords" content="instyle, fashion, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link href="../../img/chik-fellas.png" rel="shortcut icon" />

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../css/slicknav.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="style/newstyle.css" />
    <link rel="stylesheet" href="style/lightbox.min.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
      <div class="loader"></div>
    </div> -->

    <div class="new-request">
      <div class="modal1">
        <h2>Your order</h2>
        <%- include("../partials/orderWhatsapp.ejs") %>
      </div>
    </div>

    <!-- header section -->
    <%- include("../partials/main-menu.ejs") %>
    <!-- header section end -->

    <!-- order item model -->

    <!-- Gallery slider section -->
    <section class="gallery-slider-section">
      <div class="sp-container">
        <h2 class="gallery-title">Trousers</h2>
      </div>
      <div class="gallery">
        <div class="gallery-item">
          <a href="./images/pants/DAV_2716.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2716.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2717.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2717.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2718.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2718.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2720.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2720.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2721.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2721.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2722.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2722.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2725.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2725.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2726.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2726.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2727.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2727.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2729.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2729.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2730.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2730.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2731.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2731.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2734.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2734.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2737.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2737.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2738.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2738.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2739.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2739.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2740.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2740.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2741.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2741.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2743.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2743.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2744.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2744.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2766.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2766.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
        <div class="gallery-item">
          <a href="./images/pants/DAV_2769.JPG" data-lightbox="mygallery"
            ><img src="./images/pants/DAV_2769.JPG" alt="#"
          /></a>
          <p class="order-btn">
            Stylist: Kemmy Shop <br />
            <button class="btn-order">
              <i class="fa fa-shopping-cart"></i>Order
            </button>
          </p>
        </div>
      </div>
    </section>

    <!-- Gallery slider section end -->

    <!-- Footer section  -->
    <%- include("../partials/footer.ejs") %>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.slicknav.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/circle-progress.min.js"></script>
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <script defer src="js/main.js"></script>
  </body>
</html>
