<header class="header-section">
  <div class="header-warp">
    <a href="index.html" class="site-logo">
      <img
        src="../img/logo 2.png"
        style="height: 100px; width: 100px;"
        alt=""
      />
      <span
        style="font-family: 'Cinzel', serif; color: #212529; font-size: 32px;"
        >Chik Fellas</span
      >
    </a>
    <ul class="main-menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <!-- <li><a href="artists.html">artists</a></li>
        <li><a href="elements.html">Shop</a></li>
        <li><a href="blog.html">News</a></li> -->
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</header>
