<form class="contact-form" action="/whatsapp-order" method="POST">
  <div class="img-order">
    <img src="./images/img9.png" alt="" name="orderImg" />
  </div>
  <div class="col">
    <div class="col-lg-12">
      <input id="names" type="text" placeholder="Your Name" name="orderNames" />
    </div>
    <div class="col-lg-12">
      <input
        id="phoneN"
        type="text"
        placeholder="Your Phone number"
        name="orderPhoneN"
      />
    </div>
    <div class="col-lg-12">
      <input
        id="location"
        type="text"
        placeholder="Location"
        name="orderLocation"
      />
    </div>
    <div class="col-lg-12">
      <textarea
        id="message"
        placeholder="Message"
        name="orderMessage"
      ></textarea>
      <button id="send-whatsapp" class="site-btn sb-light" type="submit">
        send message
        <img src="../img/icons/arrow-right-white.png" alt="" />
      </button>
    </div>
  </div>
</form>
