<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Chik fellas - Your Personal stylist</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Instyle Fashion HTML Template" />
    <meta name="keywords" content="instyle, fashion, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link href="img/chik-fellas.png" rel="shortcut icon" />

    <!-- Google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="css/style.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- header section -->
    <%- include("./partials/main-menu.ejs") %>
    <!-- header section end -->

    <!-- Gallery slider section -->
    <section class="gallery-slider-section">
      <div class="sp-container">
        <!-- <h2 class="gallery-title">Trousers</h2> -->
      </div>
      <div class="gallery">
        <div class="gallery-item">
          <a href="./trousers/trousers.html"
            ><img src="img/gallery/trousers.jpg" alt="#" />

            <h4>Trousers</h4>
          </a>
          <!-- <p>Artist: John Doe<br />February 3, 2019–July 28, 2019</p> -->
        </div>
        <div class="gallery-item">
          <a href="./shirts/shirts.html">
            <img src="img/gallery/shirts.jpg" alt="#" />
            <h4>Shirts & T-shirts</h4>
          </a>
          <!-- <p>Artist: John Doe<br />July 12, 2018–September 3, 2018</p> -->
        </div>
        <div class="gallery-item">
          <img src="img/gallery/shoes.jpg" alt="#" />
          <h4>Shoes</h4>
          <!-- <p>Artist: John Doe<br />June 3, 2018–September 16, 2018</p> -->
        </div>
        <div class="gallery-item">
          <img src="img/gallery/suits.jpg" alt="#" />
          <h4>Suits & Tuxedos</h4>
          <!-- <p>Artist: John Doe<br />June 3, 2018–September 16, 2018</p> -->
        </div>
        <div class="gallery-item">
          <img src="img/gallery/Jackets.jpg" alt="#" />
          <h4>Jackets & Coats</h4>
          <!-- <p>Artist: John Doe<br />June 3, 2018–September 16, 2018</p> -->
        </div>
        <div class="gallery-item">
          <img src="img/gallery/access.jpg" alt="#" />
          <h4>accessories</h4>
          <!-- <p>Artist: John Doe<br />June 3, 2018–September 16, 2018</p> -->
        </div>
      </div>
    </section>

    <!-- Gallery slider section end -->

    <!-- Footer section  -->
    <%- include("./partials/footer.ejs") %>
    <!-- Footer section end -->

    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
